*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: var(--main-color, #F3EFEC);
  color: var(--text-color,#312A4E);
  font-family: var(--main-font, Raleway, sans-serif);
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a {
  color: inherit;
}

.header {
  padding-block-start: 10%;
}

.heading {
  font-family: var(--accent-font, 'STIX Two Text', serif);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}

.content-section {
  padding: 0 5vw;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px;
  margin-block-start: 7%;
  margin-block-end: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-block-end: 1.5em;
}

.content__blockquote {
  font-style: italic;
  line-height: 2em;
  width: 75%;
  margin: auto;
  margin-block-end: 1.5em;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  position: absolute;
  left: -25px;
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-image: url('/images/marker-light.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content__list-item:not(:last-child) {
  margin-block-end: 10px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 30%;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-inline-end: 1px;
}

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vw);
  right: 5vw;
  margin-block-start: 7%;
  margin-block-end: 7%;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--text-color);
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/3;
  margin-block-start: 7%;
  border: 1px solid var(--text-color);
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  position: absolute;
  content: '';
  inset: 0.55em 0 0 -2.5%;
  inline-size: 105%;
  block-size: 0.25em;
  background-color: var(--accent-color);
  z-index: -1;
}